.modal__container {
  position: relative;
  padding: 32px 106px 28px;
  background-color: #f2f0f9;
  box-shadow: 0 0 6px 0 #bfbfbf;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 30px;
}

.modal__caption {
  margin-bottom: 43px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
}